################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreOnline/.vs/BookStoreOnline/v16
/BookStoreOnline/BookStoreOnline/obj
